body{
    /* box-sizing: border-box; */
    color:black;
    margin:0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: 120%;   
}
ul{
    display: block;

    
}
.nav{
display: flex;
flex-direction: row;
justify-content: space-around;
align-content: flex-end;
background-color: black;
padding-right: 2%;
padding-left: 2%;
padding-top: 0.5%;
z-index: 10;

}
a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:grey;
    font-weight:bold;
}


.login-btn{
    margin-top: 20px;
    height:32px;
    width:90px;
    font-size:80%;
    border-radius: 2px;
}
.login-input{
    margin-top: 20px;
    height:24px;
    width:100px;
    font-size:80%;
    padding-left:5px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    margin-right: 60%;
    color: #ffffff;
}

.log{
    padding: 0 40px 0 0;
}
/* 
#vid{

    min-width: 100%;
    min-height: 100%;
    top: 0;
    bottom: 0;
} */

#home {
    position: fixed;
    color: whitesmoke;
}

.input{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 80%;
}

.button{
    /* width: 50px; */
    width: 150px;
    height: 30px;
    margin-left: 90%;
    border: none;
    border-radius: 5px;
    font-size: 80%;
}
#login-box{
    /* display: none; */
    width:250px;
    height: 260px;
    margin: 10% 40%;
    background-color: grey;
    border-radius: 5px;
    z-index: 1; 
    
   
    /* display:none; */
}

.box-style{
    margin-top: 25px;
    margin-right: 20%;
    margin-left: 20%;
}
.login{
    display:block;

}
.close{
    float: right;
    padding-right: 15px;
    padding-top: 10px;
    font-weight: bold;

  
}

.close:hover,
.close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.navn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 0.5%;
}

.logon{
    display: flex;
    justify-content: flex-start;
    margin-right: 70%;
    color:  black;
}

.welcomeMsg{
    position: relative;
    z-index: 1;
    margin: 15%;
    color: black;
    background :linear-gradient (rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);
    background-color:white;
    padding: 30px;
    width: 750px;
    border-radius: 5px;

}

.sign-up-options{
    display: flex;
    flex-direction: row;
}

.sign-up-btn{
    margin-left: 40px;
    height: 50px;
    width: 150px;
    font-size: 120%;
    font-weight: bold;
    border-radius: 5px;
}

#sign-up-btn-rider{
    background-color: rgb(233, 233, 86);   
}

#sign-up-btn-driver{
    background-color: rgb(79, 194, 79);  
}

video{
  
    /* z-index: 0;
    position: relative;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

}


